body {
    background-color: darkgrey;
    padding: 0;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

.navbar {
    position: fixed;
    top: 0;
    height: 7vh;
    width: 100%;
}

.main-window {
    background-color: cadetblue;
    height: 93vh;
    width: 100%;
    margin-bottom: 0;
}

.table {
    width: 95%;
    height: 100%;
    padding: 10px 10px;
    margin: 7vh auto 0px;
    background-color: gainsboro;
    border-radius: 15px;
}

.centered {
    height: 100vh;
    width: 1900px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    font-weight: bold;
}

.form {
    width: 60%;
    padding: 10px 10px;
    background-color: gainsboro;
    border-radius: 15px;
}

.colored-row {
    background-color: lightcyan;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.colored-row:first-child {
    margin-top: 5px;
}

.colored-row:nth-child(2) {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.colored-row:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 5px;
}

.margins {
    margin-bottom: 2px;
    border-radius: 15px;
}

.done {
    background-color: aquamarine;
}

.todo {
    background-color: darksalmon;
}

.hidden {
    display: none;
}

html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
