<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" >
    <th:block th:include="templates :: headers"></th:block>
    <title>Task List</title>
</head>
<body>
<th:block th:include="templates :: navigator_bar"></th:block>
<div class="container main-window">
    <div class="table">
        <div class="row">
            <div class="col-12">
                <h2>Tasks</h2>
            </div>
        </div>
        <div class="row colored-row header margins">
            <div class="col-1">Id</div>
            <div class="col-1">User</div>
            <div class="col-4">Description</div>
            <div class="col-2">Status</div>
            <div class="col-4">Actions</div>
        </div>
        <div class="row colored-row margins" th:classappend="${task.isDone()} ? done : todo" th:each="task : ${taskList}">
            <div class="col-1" th:text="${task.getId()}"></div>
            <div class="col-1" th:text="${task.getUser()}"></div>
            <div class="col-4" th:text="${task.getDescription()}"></div>
            <div class="col-2"  th:text="${task.isDone()} ? 'DONE' : 'TO DO'"></div>
            <div class="col-2">
                <form th:action="@{/task/delete}" th:method="post">
                    <input type="text" th:value="${task.getId()}" name="taskId" hidden>
                    <input class="col-12 form-control form-control-sm" type="submit" value="Delete">
                </form>
            </div>
            <div class="col-2" th:classappend="${task.isDone()} ? hidden : return">
                <form th:action="@{/task/make-done}" th:method="post">
                    <input type="text" th:value="${task.getId()}" name="taskId" hidden>
                    <input class="col-12 form-control form-control-sm" type="submit" value="Make Done">
                </form>
            </div>
            <div class="col-2" sec:authorize="hasRole('ADMIN')" th:classappend="${task.isDone()} ? return : hidden">
                <form th:action="@{/task/make-undone}" th:method="post">
                    <input type="text" th:value="${task.getId()}" name="taskId" hidden>
                    <input class="col-12 form-control form-control-sm" type="submit" value="Make To Do">
                </form>
            </div>
        </div>
        <div class="row colored-row margins" th:classappend="${addingAvailable} ? return : hidden">
            <div class="col-6 offset-3">
                <form th:action="@{/task/add}" th:method="post">
                    <input class="col-6 form-control form-control-sm" type="submit" value="Add new task">
                </form>
            </div>
        </div>

    </div>
</div>
<th:block th:include="templates :: footer_scripts"></th:block>
</body>
</html>