<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <th:block th:include="templates :: headers"></th:block>
    <title>User List</title>
</head>
<body>
<th:block th:include="templates :: navigator_bar"></th:block>
<div class="container main-window">
    <div class="table">
    <div class="row">
        <div class="col-12">
            <h2>User List</h2>
        </div>
    </div>
    <div class="row colored-row">
        <div class="col-1">Id</div>
        <div class="col-2">Email</div>
        <div class="col-5">Roles</div>
        <div class="col-4">Actions</div>
    </div>
    <div class="row colored-row" th:each="user : ${userList}">
        <div class="col-1" th:text="${user.getId()}"></div>
        <div class="col-2" th:text="${user.getEmail()}"></div>
        <div class="col-5" th:text="${user.getRoles()}"></div>
        <div class="col-2">
            <form th:action="@{/admin/user/delete}" th:method="post">
                <input type="text" th:value="${user.getId()}" name="userId" hidden>
                <input class="col-12 form-control form-control-sm" type="submit" value="Delete">
            </form>
        </div>
        <div class="col-2">
            <form th:action="@{/admin/user/make-admin}" th:method="post">
                <input type="text" th:value="${user.getId()}" name="userId" hidden>
                <input class="col-12 form-control form-control-sm" type="submit" value="Make admin">
            </form>
        </div>
    </div>
    </div>
</div>
<th:block th:include="templates :: footer_scripts"></th:block>
</body>
</html>